<ion-view view-title="Compartilhe...">
  <ion-content>
    <h4>Compartilhe e convide seus amigos para ouvir suas músicas</h4>

    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Convidar amigos
    </div>
    <select>
      <option>Thor</option>
      <option selected>Capitão América</option>
      <option>Steve Jobs</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Compartilhar em sua rede
    </div>
    <select>
      <option>Facebook</option>
      <option selected>Instagram</option>
      <option>Twitter</option>
    </select>
  </label>

</div>

  </ion-content>
</ion-view>
